export ENVIRONMENT=staging

export KEYCLOAK_USERNAME="$(bo show credential $ENVIRONMENT user-service KEYCLOAK_USERNAME)"
export KEYCLOAK_PASSWORD="$(bo show credential $ENVIRONMENT user-service KEYCLOAK_PASSWORD)"