---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: java
    tag: 'latest'

inputs:
- name: source
- name: version

outputs:
- name: dist

params:
  KEYCLOAK_USERNAME:
  KEYCLOAK_PASSWORD:

caches:
- path: .gradle/
- path: source/dependency-check-cache

run:
  path: source/pipeline/scripts/build.sh
