spring:
  http:
    encoding:
      charset: UTF-8
      force: true

server:
  compression:
    enabled: true
    mime-types: application/hal+json

app:
  registration-period-in-millis: 30000

hubspot:
  host: https://api.hubapi.com/
  batchSize: 100

management:
  endpoint:
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "info, health, prometheus"
  metrics:
    export:
      prometheus:
        enabled: true

subjects:
  cache:
    timetolive: 300000

pubsub:
  consumerGroup: user-service
